<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>所有订单信息</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" >

	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
	<script type="text/javascript">
		<!--注意注意！！！页面加载完成记得-->
		$(function () {

			$(".receive").click(function () {
				var orderId = $(this).attr("orderId")
				if (confirm("您确认将订单号为[" + orderId + "]的商品修改为已发货状态吗？")) {
					$.ajax({
						url: "[[@{/sendOrder}]]",
						data: "orderId=" + orderId,
						type: "GET",
						success: function (result) {
							location.href="/showAllOrdersPage";
						}
					});
				}
			});
		});
	</script>


<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" th:src="@{/img/logo.gif}" >
			<span class="wel_word">所有订单信息</span>
		<div th:replace="common::manager_menu"></div>
	</div>
	
	<div id="main">
		
		<table>
			<tr>
				<td>订单号</td>
				<td>日期</td>
				<td>金额</td>
				<td>状态</td>
				<td>用户ID</td>
				<td>用户名</td>
				<td>详情</td>
				<td>操作</td>
			</tr>
			<tr th:each="allorder:${allOrders}">
				<td>[[${allorder.orderId}]]</td>
				<td>[[${allorder.createTime}]]</td>
				<td>[[${allorder.price}]]</td>
				<div th:switch="${allorder.status}">
					<td th:case="0">未发货</td>
					<td th:case="1">已发货</td>
					<td th:case="2">已签收</td>
				</div>
				<td>[[${allorder.userId}]]</td>
				<td>[[${allorder.user.username}]]</td>
				<td><a th:href="@{/orderDetailPage(orderId=${allorder.orderId})}">查看详情</a></td>
				<td><button th:if="${allorder.status}==0" th:orderId="${allorder.orderId}" class="receive">订单发货</button></td>
			</tr>	

		</table>
		
	
	</div>
	
	<div th:replace="common::footer"></div>
</body>
</html>