<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.mybookstore.mapper.ManagerMapper">

    <!--public Manager queryByManagernameAndPassword(Manager manager);-->
    <select id="queryByManagernameAndPassword" resultType="com.jiang.mybookstore.bean.Manager">
        select id,managername,password
        from t_manager
        where managername=#{managerName} and password=#{password}
    </select>


</mapper>