<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.mybookstore.mapper.OrderItemMapper">

    <!--public int saveOrderItem(OrderItem orderItem);-->
    <insert id="saveOrderItem" parameterType="com.jiang.mybookstore.bean.OrderItem">
        insert into t_order_item(`name`,`count`,`price`,`total_price`,`order_id`)
        values(#{name},#{count},#{price},#{totalPrice},#{orderId})
    </insert>


    <resultMap id="BaseResultMap" type="com.jiang.mybookstore.bean.OrderItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="total_price" jdbcType="INTEGER" property="totalPrice"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
    </resultMap>

    <!--public OrderItem showOrderDetail(String orderId);-->
    <select id="showOrderDetail" resultMap="BaseResultMap">
        select `id`,`name`,`count`,`price`,`total_price`,`order_id`
        from t_order_item
        where `order_id`=#{orderId}
    </select>




</mapper>