<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.mybookstore.mapper.UserMapper">

    <!--public User queryByUsernameAndPassword(String username, String password);-->
    <select id="queryByUsernameAndPassword" resultType="com.jiang.mybookstore.bean.User">
        select id,username,password,email
        from t_user
        where username=#{userName} and password=#{passWord}
    </select>

</mapper>