<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一点会员注册页面</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<img class="logo_img" alt="" th:src="@{/img/logo.gif}" >
				<span class="wel_word"></span>
			<div th:replace="common::login_success_menu"></div>
		</div>
		
		<div id="main">
		
			<h1>注册成功! <a th:href="@{/index}">转到主页</a></h1>
	
		</div>
		
		<div th:replace="common::footer"></div>
</body>
</html>