<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>结算页面</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" th:src="@{/img/logo.gif}" >
			<span class="wel_word">结算</span>
		<div th:replace="common::login_success_menu"></div>
	</div>
	
	<div id="main">
		
		<h1 th:text="|您的订单已结算，订单号为${session.orderId},可以从【我的订单】页面查看详情！|">你的订单已结算，订单号为${session.orderId}</h1>
		
	
	</div>
	
	<div th:replace="common::footer"></div>
</body>
</html>